{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Neon Admin Panel">
      <meta name="author" content="Laborator.co">
      <title>VT- Content Partner</title>
      <style>.file-input-wrapper { overflow: hidden; position: relative; cursor: pointer; z-index: 1; }.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover { position: absolute; top: 0; left: 0; cursor: pointer; opacity: 0; filter: alpha(opacity=0); z-index: 99; outline: 0; }.file-input-name { margin-left: 8px; }</style>
      <link rel="stylesheet" href="{{STATIC_URL}}ct/css/jquery-ui-1.10.3.custom.min.css" id="style-resource-1">
      <link rel="stylesheet" href="http://themes.laborator.co/neon/assets/css/font-icons/entypo/css/entypo.css" id="style-resource-2">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" id="style-resource-3">
      <link rel="stylesheet" href="{{STATIC_URL}}ct/css/neon.css" id="style-resource-4">
      <link rel="stylesheet" href="{{STATIC_URL}}ct/css/custom.css" id="style-resource-5">
      <script type="text/javascript" async="" src="ct/js/ga.js"></script>
      <script src="{{STATIC_URL}}ct/js/jquery-1.10.2.min.js"></script>
      <style type="text/css"></style>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <style type="text/css">.jqstooltip { position: absolute;display: block;left: 0px;top: 0px;visibility: hidden;background: rgb(43, 48, 58) transparent;background-color: rgba(43, 48, 58,0.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;z-index: 10000;padding: 5px 5px 5px 5px;min-height: 22px;min-width: 30px;border-radius: 3px;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>
   </head>
   <body class="page-body" >
      <div class="page-container">
         <div class="sidebar-menu" style="min-height: 1416px;">
            <header class="logo-env">
               <!-- logo -->
               <div class="logo">
                  <a href="#">
                  <img src="{{STATIC_URL}}ct/img/logo.png" width="120" alt="">
                  </a>
               </div>
               <!-- logo collapse icon -->
               <div class="sidebar-collapse">
                  <a href="#" class="sidebar-collapse-icon with-animation">
                     <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                     <i class="entypo-menu"></i>
                  </a>
               </div>
               <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
               <div class="sidebar-mobile-menu visible-xs">
                  <a href="#" class="with-animation">
                     <!-- add class "with-animation" to support animation -->
                     <i class="entypo-menu"></i>
                  </a>
               </div>
            </header>
            <ul id="main-menu" class="" style="">
               <li id="search" class="root-level">
                  <form method="get" action="">
                     <input type="text" name="q" class="search-input" placeholder="Search something...">
                     <button type="submit"><i class="entypo-search"></i></button>
                  </form>
               </li>
               <li class="opened active root-level has-sub">
                  <a href="#"><i class="entypo-gauge"></i><span>Dashboard</span></a>
                  <ul class="visible">
                     <li class="active">
                        <a href="#dashboard"><span>Dashboard</span></a>
                     </li>
                  </ul>
               </li>

               <li class="root-level has-sub">
                  <a href="http://themes.laborator.co/neon/mailbox/main/"><i class="entypo-users"></i><span>Celebrity</span></a>
                  <ul>
                     <li>
                        <a href="#celebrity"><i class="entypo-inbox"></i><span>Create</span></a>
                     </li>
                     <li>
                        <a href="#"><i class="entypo-pencil"></i><span>Upload</span></a>
                     </li>
                     <li>
                        <a href="#"><i class="entypo-attach"></i><span>View/Edit</span></a>
                     </li>
                  </ul>
               </li>

               <li class="root-level has-sub">
                  <a href="http://themes.laborator.co/neon/mailbox/main/"><i class="entypo-users"></i><span>Users/Followers</span></a>
                  <ul>
                     <li>
                        <a href="#celebrity"><i class="entypo-inbox"></i><span>View/Edit</span></a>
                     </li>
                  </ul>
               </li>

            </ul>
         </div>
         <div class="main-content" style="min-height: 1416px;">
            <div class="row">
               <!-- Profile Info and Notifications -->
               <div class="col-md-6 col-sm-8 clearfix">
                  <ul class="user-info pull-left pull-none-xsm">
                     <!-- Profile Info -->
                     <li class="profile-info dropdown">
                        <!-- add class "pull-right" if you want to place this from right -->
                        <a href="http://themes.laborator.co/neon/#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{STATIC_URL}}ct/img/thumb-1@2x.png" alt="" class="img-circle" width="44">
                        Art Ramadani
                        </a>
                        <ul class="dropdown-menu">
                           <!-- Reverse Caret -->
                           <li class="caret"></li>
                           <!-- Profile sub-links -->
                           <li>
                              <a href="#">
                              <i class="entypo-user"></i>
                              Edit Profile
                              </a>
                           </li>
                           <li>
                              <a href="#">
                              <i class="entypo-mail"></i>
                              Inbox
                              </a>
                           </li>
                           <li>
                              <a href="#">
                              <i class="entypo-calendar"></i>
                              Calendar
                              </a>
                           </li>
                           <li>
                              <a href="#">
                              <i class="entypo-clipboard"></i>
                              Tasks
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
                  <ul class="user-info pull-left pull-right-xs pull-none-xsm">
                     <!-- Raw Notifications -->
                     <li class="notifications dropdown">
                        <a href="http://themes.laborator.co/neon/#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="entypo-attention"></i>
                        <span class="badge badge-info">6</span>
                        </a>
                        <ul class="dropdown-menu">
                           <li class="top">
                              <p class="small">
                                 <a href="#" class="pull-right">Mark all Read</a>
                                 You have <strong>3</strong> new notifications.
                              </p>
                           </li>
                           <li>
                              <ul class="dropdown-menu-list scroller" style="overflow: hidden; outline: none;" tabindex="5001">
                                 <li class="unread notification-success">
                                    <a href="#">
                                    <i class="entypo-user-add pull-right"></i>
                                    <span class="line">
                                    <strong>New user registered</strong>
                                    </span>
                                    <span class="line small">
                                    30 seconds ago
                                    </span>
                                    </a>
                                 </li>
                                 <li class="unread notification-secondary">
                                    <a href="#">
                                    <i class="entypo-heart pull-right"></i>
                                    <span class="line">
                                    <strong>Someone special liked this</strong>
                                    </span>
                                    <span class="line small">
                                    2 minutes ago
                                    </span>
                                    </a>
                                 </li>
                                 <li class="notification-primary">
                                    <a href="#">
                                    <i class="entypo-user pull-right"></i>
                                    <span class="line">
                                    <strong>Privacy settings have been changed</strong>
                                    </span>
                                    <span class="line small">
                                    3 hours ago
                                    </span>
                                    </a>
                                 </li>
                                 <li class="notification-danger">
                                    <a href="#">
                                    <i class="entypo-cancel-circled pull-right"></i>
                                    <span class="line">
                                    John cancelled the event
                                    </span>
                                    <span class="line small">
                                    9 hours ago
                                    </span>
                                    </a>
                                 </li>
                                 <li class="notification-info">
                                    <a href="#">
                                    <i class="entypo-info pull-right"></i>
                                    <span class="line">
                                    The server is status is stable
                                    </span>
                                    <span class="line small">
                                    yesterday at 10:30am
                                    </span>
                                    </a>
                                 </li>
                                 <li class="notification-warning">
                                    <a href="#">
                                    <i class="entypo-rss pull-right"></i>
                                    <span class="line">
                                    New comments waiting approval
                                    </span>
                                    <span class="line small">
                                    last week
                                    </span>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                           <li class="external">
                              <a href="#">View all notifications</a>
                           </li>
                           <div id="ascrail2001" class="nicescroll-rails" style="padding-right: 3px; width: 10px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -10px; height: 0px; display: none;">
                              <div style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(212, 212, 212); border: 1px solid rgb(204, 204, 204); background-clip: padding-box; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px;"></div>
                           </div>
                           <div id="ascrail2001-hr" class="nicescroll-rails" style="height: 7px; z-index: 1000; top: -7px; left: 0px; position: absolute; cursor: default; display: none;">
                              <div style="position: relative; top: 0px; height: 5px; width: 0px; background-color: rgb(212, 212, 212); border: 1px solid rgb(204, 204, 204); background-clip: padding-box; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px;"></div>
                           </div>
                        </ul>
                     </li>
                     <!-- Message Notifications -->
                     <li class="notifications dropdown">
                        <a href="http://themes.laborator.co/neon/#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="entypo-mail"></i>
                        <span class="badge badge-secondary">10</span>
                        </a>
                        <ul class="dropdown-menu">
                           <li>
                              <ul class="dropdown-menu-list scroller" style="overflow: hidden; outline: none;" tabindex="5002">
                                 <li class="active">
                                    <a href="#">
                                    <span class="image pull-right">
                                    <img src="{{STATIC_URL}}ct/img/thumb-1.png" alt="" class="img-circle">
                                    </span>
                                    <span class="line">
                                    <strong>Luc Chartier</strong>
                                    - yesterday
                                    </span>
                                    <span class="line desc small">
                                    This ain’t our first item, it is the best of the rest.
                                    </span>
                                    </a>
                                 </li>
                                 <li class="active">
                                    <a href="#">
                                    <span class="image pull-right">
                                    <img src="{{STATIC_URL}}ct/img/thumb-2.png" alt="" class="img-circle">
                                    </span>
                                    <span class="line">
                                    <strong>Salma Nyberg</strong>
                                    - 2 days ago
                                    </span>
                                    <span class="line desc small">
                                    Oh he decisively impression attachment friendship so if everything. 
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <span class="image pull-right">
                                    <img src="{{STATIC_URL}}ct/img/thumb-3.png" alt="" class="img-circle">
                                    </span>
                                    <span class="line">
                                    Hayden Cartwright
                                    - a week ago
                                    </span>
                                    <span class="line desc small">
                                    Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <span class="image pull-right">
                                    <img src="{{STATIC_URL}}ct/img/thumb-4.png" alt="" class="img-circle">
                                    </span>
                                    <span class="line">
                                    Sandra Eberhardt
                                    - 16 days ago
                                    </span>
                                    <span class="line desc small">
                                    On so attention necessary at by provision otherwise existence direction.
                                    </span>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                           <li class="external">
                              <a href="#">All Messages</a>
                           </li>
                           <div id="ascrail2002" class="nicescroll-rails" style="padding-right: 3px; width: 10px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -10px; height: 0px; display: none;">
                              <div style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(212, 212, 212); border: 1px solid rgb(204, 204, 204); background-clip: padding-box; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px;"></div>
                           </div>
                           <div id="ascrail2002-hr" class="nicescroll-rails" style="height: 7px; z-index: 1000; top: -7px; left: 0px; position: absolute; cursor: default; display: none;">
                              <div style="position: relative; top: 0px; height: 5px; width: 0px; background-color: rgb(212, 212, 212); border: 1px solid rgb(204, 204, 204); background-clip: padding-box; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px;"></div>
                           </div>
                        </ul>
                     </li>
                     <!-- Task Notifications -->
                     <li class="notifications dropdown">
                        <a href="http://themes.laborator.co/neon/#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="entypo-list"></i>
                        <span class="badge badge-warning">1</span>
                        </a>
                        <ul class="dropdown-menu">
                           <li class="top">
                              <p>You have 6 pending tasks</p>
                           </li>
                           <li>
                              <ul class="dropdown-menu-list scroller" style="overflow: hidden; outline: none;" tabindex="5003">
                                 <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">Procurement</span>
                                    <span class="percent">27%</span>
                                    </span>
                                    <span class="progress">
                                    <span style="width: 27%;" class="progress-bar progress-bar-success">
                                    <span class="sr-only">27% Complete</span>
                                    </span>
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">App Development</span>
                                    <span class="percent">83%</span>
                                    </span>
                                    <span class="progress progress-striped">
                                    <span style="width: 83%;" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">83% Complete</span>
                                    </span>
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">HTML Slicing</span>
                                    <span class="percent">91%</span>
                                    </span>
                                    <span class="progress">
                                    <span style="width: 91%;" class="progress-bar progress-bar-success">
                                    <span class="sr-only">91% Complete</span>
                                    </span>
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">Database Repair</span>
                                    <span class="percent">12%</span>
                                    </span>
                                    <span class="progress progress-striped">
                                    <span style="width: 12%;" class="progress-bar progress-bar-warning">
                                    <span class="sr-only">12% Complete</span>
                                    </span>
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">Backup Create Progress</span>
                                    <span class="percent">54%</span>
                                    </span>
                                    <span class="progress progress-striped">
                                    <span style="width: 54%;" class="progress-bar progress-bar-info">
                                    <span class="sr-only">54% Complete</span>
                                    </span>
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">Upgrade Progress</span>
                                    <span class="percent">17%</span>
                                    </span>
                                    <span class="progress progress-striped">
                                    <span style="width: 17%;" class="progress-bar progress-bar-important">
                                    <span class="sr-only">17% Complete</span>
                                    </span>
                                    </span>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                           <li class="external">
                              <a href="#">See all tasks</a>
                           </li>
                           <div id="ascrail2003" class="nicescroll-rails" style="padding-right: 3px; width: 10px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -10px; height: 0px; display: none;">
                              <div style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(212, 212, 212); border: 1px solid rgb(204, 204, 204); background-clip: padding-box; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px;"></div>
                           </div>
                           <div id="ascrail2003-hr" class="nicescroll-rails" style="height: 7px; z-index: 1000; top: -7px; left: 0px; position: absolute; cursor: default; display: none;">
                              <div style="position: relative; top: 0px; height: 5px; width: 0px; background-color: rgb(212, 212, 212); border: 1px solid rgb(204, 204, 204); background-clip: padding-box; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px;"></div>
                           </div>
                        </ul>
                     </li>
                  </ul>
               </div>
               <!-- Raw Links -->
               <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                  <ul class="list-inline links-list pull-right">
                     <li>
                        <a href="{% url 'vt-login' %}">
                        Log Out <i class="entypo-logout right"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <hr>
             <div id="#dashboard" >
             <h1> Dashboard </h1>
             </div>
             <hr>
             <div class="row">
               <div class="col-sm-3">
                  <div class="tile-stats tile-red">
                     <div class="icon"><i class="entypo-mail"></i></div>
                     <div class="num" data-start="0" data-end="83" data-postfix="" data-duration="1500" data-delay="0">83</div>
                     <h3>Posts</h3>
                     <p></p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="tile-stats tile-green">
                     <div class="icon"><i class="entypo-users"></i></div>
                     <div class="num" data-start="0" data-end="135" data-postfix="" data-duration="1500" data-delay="600">135</div>
                     <h3>Users</h3>
                     <p></p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="tile-stats tile-aqua">
                     <div class="icon"><i class="entypo-rss"></i></div>
                     <div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200">23</div>
                     <h3>Subscriptions</h3>
                     <p></p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="tile-stats tile-blue">
                     <div class="icon"><i class="entypo-users"></i></div>
                     <div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800">52</div>
                     <h3>Followers</h3>
                     <p></p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="tile-stats tile-grey">
                     <div class="icon"><i class="entypo-phone"></i></div>
                     <div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800">52</div>
                     <h3>Calls</h3>
                     <p></p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="tile-stats tile-pink">
                     <div class="icon"><i class="entypo-comment"></i></div>
                     <div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800">52</div>
                     <h3>SMS</h3>
                     <p></p>
                  </div>
               </div>
            </div>
            <br>
            <div id="#celebrity" >
            <h1>Celebrity</h1>
            </div>
            <hr>
                        <h2>Celebrity Profile</h2>
            <br/>
            <div class="row">
	       <div class="col-md-12">
		
		  <div class="panel panel-primary" data-collapsed="0">
		
			 <div class="panel-heading">
				 <div class="panel-title">
					Create Profile
				 </div>
				
				 <div class="panel-options">
					<a href="http://themes.laborator.co/neon/forms/main/#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
					<a href="http://themes.laborator.co/neon/forms/main/#" data-rel="collapse"><i class="entypo-down-open"></i></a>
					<a href="http://themes.laborator.co/neon/forms/main/#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
					<a href="http://themes.laborator.co/neon/forms/main/#" data-rel="close"><i class="entypo-cancel"></i></a>
				 </div>
			  </div>
			
			  <div class="panel-body">
				
				<form role="form" class="form-horizontal form-groups-bordered">
	
					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Celebrity Name</label>
						
						<div class="col-sm-5">
							<input type="text" class="form-control" id="celeb_name" name="celebrity" placeholder="Celebrity">
						</div>
					</div>
                                        <div class="form-group">
                                                <label for="field-1" class="col-sm-3 control-label">Display Name</label>

                                                <div class="col-sm-5">
                                                        <input type="text" class="form-control" id="celeb_name" name="celebrity" placeholder="Display Name">
                                                </div>
                                        </div>
					<div class="form-group">
						<label for="field-ta" class="col-sm-3 control-label">Description</label>
						
						<div class="col-sm-5">
							<textarea class="form-control" id="field-ta" placeholder="Enter celebrity description"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Category</label>
						
						<div class="col-sm-5">
							<select class="form-control">
								<option>Movie</option>
								<option>Sports</option>
								<option>Politics</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5">
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Male
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Female
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5">
							<button type="submit" class="btn btn-default">Save</button>
                                                        <button type="submit" class="btn btn-default">Reset</button>
						</div>
					</div>
                                 </form>
                         </div>
                     </div>
                  </div>
             </div>
            <div id="#celebrity" >
            <h2>Upload Content</h2>
            </div>
            <br/>
            <div class="row">
               <div class="col-md-12">

                  <div class="panel panel-primary" data-collapsed="0">

                         <div class="panel-heading">
                                 <div class="panel-title">
                                        Upload Prompts
                                 </div>

                                 <div class="panel-options">
                                        <a href="http://themes.laborator.co/neon/forms/main/#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
                                        <a href="http://themes.laborator.co/neon/forms/main/#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                        <a href="http://themes.laborator.co/neon/forms/main/#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                        <a href="http://themes.laborator.co/neon/forms/main/#" data-rel="close"><i class="entypo-cancel"></i></a>
                                 </div>
                          </div>

                          <div class="panel-body">

                                <form role="form" class="form-horizontal form-groups-bordered">
					<div class="form-group">
						<label class="col-sm-3 control-label">Celebrities</label>
						
						<div class="col-sm-5">
							<select class="form-control">
								<option>Roger Federer</option>
								<option>Sachin Tendulkar</option>
								<option>Barac Obama</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Upload Prompt</label>
						
						<div class="col-sm-5">
							<input type="file" class="form-control" id="field-file" placeholder="Placeholder">
						</div>
					</div>

                                        <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-5">
                                                        <button type="submit" class="btn btn-default">Upload</button>
                                                        <button type="submit" class="btn btn-default">Reset</button>
                                                </div>
                                        </div>
                                 </form>
                         </div>
                     </div>
                  </div>
             </div>

<h2>View/Edit Prompts</h2>
<br/>
                          <div class="panel-body">
<form role="form" class="form-horizontal form-groups-bordered">
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Celebrities</label>

                                                <div class="col-sm-5">
                                                        <select class="form-control">
                                                                <option>Roger Federer</option>
                                                                <option>Sachin Tendulkar</option>
                                                                <option>Barac Obama</option>
                                                        </select>
                                                </div>
                                        </div>
</form>
</div>
<div id="table-2_wrapper" class="dataTables_wrapper form-inline" role="grid"><table class="table table-bordered table-striped datatable dataTable" id="table-2" aria-describedby="table-2_info">
	<thead>
		<tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="
				
					
				
			" style="width: 21px;">
				<div class="checkbox checkbox-replace neon-cb-replacement">
					<label class="cb-wrapper"><input type="checkbox" id="chk-1"><div class="checked"></div></label>
				</div>
			</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Student Name: activate to sort column ascending" style="width: 204px;">Prompts</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Average Grade: activate to sort column ascending" style="width: 108px;">Scheduled Time</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 282px;">Actions</th></tr>
	</thead>
	
	
<tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
			<td class=" sorting_1">
				<div class="checkbox checkbox-replace neon-cb-replacement">
					<label class="cb-wrapper"><input type="checkbox" id="chk-1"><div class="checked"></div></label>
				</div>
			</td>
			<td class=" "><a href="#">welcome.mp3</a></td>
			<td class=" ">dd/mm/yyyy</td>
			<td class=" ">
				<a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-pencil"></i>
					Edit
				</a>
				
				<a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-danger btn-sm btn-icon icon-left">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	        </tbody></table><div class="row"><div class="col-xs-6 col-left"><div class="dataTables_info" id="table-2_info">Showing 1 to 8 of 12 entries</div></div><div class="col-xs-6 col-right"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination pagination-sm"><li class="prev disabled"><a href="http://themes.laborator.co/neon/tables/datatable/#"><i class="entypo-left-open"></i></a></li><li class="active"><a href="http://themes.laborator.co/neon/tables/datatable/#">1</a></li><li><a href="http://themes.laborator.co/neon/tables/datatable/#">2</a></li><li class="next"><a href="http://themes.laborator.co/neon/tables/datatable/#"><i class="entypo-right-open"></i></a></li></ul></div></div></div></div>


<script type="text/javascript">
jQuery(window).load(function()
{
	$("#table-2").dataTable({
		"sPaginationType": "bootstrap",
		"sDom": "t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
		"bStateSave": false,
		"iDisplayLength": 8,
		"aoColumns": [
			{ "bSortable": false },
			null,
			null,
			null,
			null
		]
	});
	
	$(".dataTables_wrapper select").select2({
		minimumResultsForSearch: -1
	});
	
	// Highlighted rows
	$("#table-2 tbody input[type=checkbox]").each(function(i, el)
	{
		var $this = $(el),
			$p = $this.closest('tr');
		
		$(el).on('change', function()
		{
			var is_checked = $this.is(':checked');
			
			$p[is_checked ? 'addClass' : 'removeClass']('highlight');
		});
	});
	
	// Replace Checboxes
	$(".pagination a").click(function(ev)
	{
		replaceCheckboxes();
	});
});
	
// Sample Function to add new row
var giCount = 1;

function fnClickAddRow() 
{
	$('#table-2').dataTable().fnAddData(['<div class="checkbox checkbox-replace"><input type="checkbox" /></div>', giCount+".2", giCount+".3", giCount+".4", giCount+".5" ]);
	
	replaceCheckboxes(); // because there is checkbox, replace it
	
	giCount++;
}
</script>



<br>
<br>
<div id="#user" >
<h1> Users/Followers</h1>
</div>
<hr>
<h2>View/Edit Users/Followers</h2>
<br/>
                          <div class="panel-body">
<form role="form" class="form-horizontal form-groups-bordered">
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Celebrities</label>

                                                <div class="col-sm-5">
                                                        <select class="form-control">
                                                                <option>Roger Federer</option>
                                                                <option>Sachin Tendulkar</option>
                                                                <option>Barac Obama</option>
                                                        </select>
                                                </div>
                                        </div>
</form>
</div>
<div id="table-2_wrapper" class="dataTables_wrapper form-inline" role="grid"><table class="table table-bordered table-striped datatable dataTable" id="table-2" aria-describedby="table-2_info">
        <thead>
                <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="
                                
                                        
                                
                        " style="width: 21px;">
                                <div class="checkbox checkbox-replace neon-cb-replacement">
                                        <label class="cb-wrapper"><input type="checkbox" id="chk-1"><div class="checked"></div></label>
                                </div>
                        </th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Student Name: activate to sort column ascending" style="width: 204px;">Users</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Average Grade: activate to sort column ascending" style="width: 108px;">Status</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 282px;">Actions</th></tr>
        </thead>

<tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                        <td class=" sorting_1">
                                <div class="checkbox checkbox-replace neon-cb-replacement">
                                        <label class="cb-wrapper"><input type="checkbox" id="chk-1"><div class="checked"></div></label>
                                </div>
                        </td>
                        <td class=" ">I Asimov</td>
                        <td class=" ">Active</td>
                        <td class=" ">
                                <a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-default btn-sm btn-icon icon-left">
                                        <i class="entypo-pencil"></i>
                                        Edit
                                </a>

                                <a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-danger btn-sm btn-icon icon-left">
                                        <i class="entypo-cancel"></i>
                                        Delete
                                </a>
				<a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-info btn-sm btn-icon icon-left">
					<i class="entypo-info"></i>
					Profile
				</a>
                        </td>
                </tr>
                <tr class="even">
                        <td class=" sorting_1">
                                <div class="checkbox checkbox-replace neon-cb-replacement">
                                        <label class="cb-wrapper"><input type="checkbox" id="chk-1"><div class="checked"></div></label>
                                </div>
                        </td>
                        <td class=" ">Zakir Khan</td>
                        <td class=" ">Suspended</td>
                        <td class=" ">
                                <a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-default btn-sm btn-icon icon-left">
                                        <i class="entypo-pencil"></i>
                                        Edit
                                </a>

                                <a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-danger btn-sm btn-icon icon-left">
                                        <i class="entypo-cancel"></i>
                                        Delete
                                </a>
				<a href="http://themes.laborator.co/neon/tables/datatable/#" class="btn btn-info btn-sm btn-icon icon-left">
					<i class="entypo-info"></i>
					Profile
				</a>
                        </td>
                </tr>
                </tbody></table><div class="row"><div class="col-xs-6 col-left"><div class="dataTables_info" id="table-2_info">Showing 1 to 8 of 12 entries</div></div><div class="col-xs-6 col-right"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination pagination-sm"><li class="prev disabled"><a href="http://themes.laborator.co/neon/tables/datatable/#"><i class="entypo-left-open"></i></a></li><li class="active"><a href="http://themes.laborator.co/neon/tables/datatable/#">1</a></li><li><a href="http://themes.laborator.co/neon/tables/datatable/#">2</a></li><li class="next"><a href="http://themes.laborator.co/neon/tables/datatable/#"><i class="entypo-right-open"></i></a></li></ul></div></div></div></div>

                        <!-- Footer -->
            <footer class="main">
               <div class="pull-right">
              
               </div>
               © 2014 <strong>Voice Tweet</strong> product by <a href="#" target="_blank">Ultivoz</a>
            </footer>
         </div>
      <link rel="stylesheet" href="http://themes.laborator.co/neon/assets/js/jvectormap/jquery-jvectormap-1.2.2.css" id="style-resource-1">
      <link rel="stylesheet" href="http://themes.laborator.co/neon/assets/js/rickshaw/rickshaw.min.css" id="style-resource-2">
      <script src="{{STATIC_URL}}ct/js/main-gsap.js" id="script-resource-1"></script>
      <script src="{{STATIC_URL}}ct/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
      <script src="{{STATIC_URL}}ct/js/bootstrap.min.js" id="script-resource-3"></script>
      <script src="{{STATIC_URL}}ct/js/joinable.js" id="script-resource-4"></script>
      <script src="{{STATIC_URL}}ct/js/resizeable.js" id="script-resource-5"></script>
      <script src="{{STATIC_URL}}ct/js/neon-api.js" id="script-resource-6"></script>
      <script src="{{STATIC_URL}}ct/js/cookies.min.js" id="script-resource-7"></script>
      <script src="{{STATIC_URL}}ct/js/jquery-jvectormap-1.2.2.min.js" id="script-resource-8"></script>
      <script src="{{STATIC_URL}}ct/js/jquery-jvectormap-europe-merc-en.js" id="script-resource-9"></script>
      <script src="{{STATIC_URL}}ct/js/jquery.sparkline.min.js" id="script-resource-10"></script>
      <script src="{{STATIC_URL}}ct/js/d3.v3.js" id="script-resource-11"></script>
      <script src="{{STATIC_URL}}ct/js/rickshaw.min.js" id="script-resource-12"></script>
      <script src="{{STATIC_URL}}ct/js/raphael-min.js" id="script-resource-13"></script>
      <script src="{{STATIC_URL}}ct/js/morris.min.js" id="script-resource-14"></script>
      <script src="{{STATIC_URL}}ct/js/toastr.js" id="script-resource-15"></script>
      <script src="{{STATIC_URL}}ct/js/neon-chat.js" id="script-resource-16"></script>
      <script src="{{STATIC_URL}}ct/js/neon-custom.js" id="script-resource-17"></script>
      <script src="{{STATIC_URL}}ct/js/neon-demo.js" id="script-resource-18"></script>
      <script src="{{STATIC_URL}}ct/js/neon-skins.js" id="script-resource-19"></script>
      <div class="jvectormap-label"></div>
      <div class="jvectormap-label"></div>
      <textarea tabindex="-1" style="position: absolute; top: -999px; left: 0px; right: auto; bottom: auto; border: 0px; padding: 0px; box-sizing: content-box; word-wrap: break-word; overflow: hidden; -webkit-transition: none; transition: none; height: 0px !important; min-height: 0px !important; font-family: &#39;Noto Sans&#39;, sans-serif, &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; font-style: normal; letter-spacing: 0px; text-transform: none; word-spacing: 0px; text-indent: 0px; line-height: 17.142858505249023px;" class="autosizejs"></textarea>
   </body>
</html>
