{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Neon Admin Panel">
      <meta name="author" content="Laborator.co">
      <title>Vt-Login</title>
      <style>
      	.file-input-wrapper { 
      		overflow: hidden;
      		position: relative; 
      		cursor: pointer; 
      		z-index: 1; 
      		}
      		.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover { 
      		position: absolute; 
      		top: 0; 
      		left: 0; 
      		cursor: pointer; 
      		opacity: 0; 
      		filter: alpha(opacity=0); 
      		z-index: 99; 
      		outline: 0; }
      		.file-input-name { 
      		margin-left: 8px; 
      		}
      		</style>
      <link rel="stylesheet" href="http://themes.laborator.co/neon/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" id="style-resource-1">
      <link rel="stylesheet" href="http://themes.laborator.co/neon/assets/css/font-icons/entypo/css/entypo.css" id="style-resource-2">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" id="style-resource-3">
      <link rel="stylesheet" href="{{STATIC_URL}}ct/css/neon.css" id="style-resource-4">
      <link rel="stylesheet" href="{{STATIC_URL}}ct/css/custom.css" id="style-resource-5">
      <script type="text/javascript" async="" src="{{STATIC_URL}}js/ga.js"></script><script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <!-- TS1390499156: Neon - Responsive Admin Template created by Laborator -->
      <style type="text/css"></style>
   </head>
   <body class="page-body login-page login-form-fall login-form-fall-init" >
      <div class="login-container">
         <div class="login-header login-caret">
            <div class="login-content">
               <a href="#" class="logo">
               <img src="{{STATIC_URL}}ct/img/logo.png" width="120" alt="">
               </a>
               <p class="description">Dear user, log in here</p>
               <!-- progress bar indicator -->
               <div class="login-progressbar-indicator">
                  <h3>0%</h3>
                  <span>logging in...</span>
               </div>
            </div>
         </div>
         <div class="login-progressbar">
            <div></div>
         </div>
         <div class="login-form">
            <div class="login-content">
               <form method="post" role="form" id="form_login" novalidate="novalidate">
                          {% csrf_token %}
                  <div class="form-group">
                     <div class="input-group">
                        <div class="input-group-addon">
                           <i class="entypo-user"></i>
                        </div>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-group">
                        <div class="input-group-addon">
                           <i class="entypo-key"></i>
                        </div>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off">
                     </div>
                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn btn-primary btn-block btn-login">
                     Login In
                     <i class="entypo-login"></i>
                     </button>
                  </div>
               </form>
               <div class="login-bottom-links">
                  <a href="#" class="link">Forgot your password?</a>
                  <br>
               </div>
            </div>
         </div>
      </div>
      <script src="{{STATIC_URL}}ct/js/main-gsap.js" id="script-resource-1"></script>
      <script src="{{STATIC_URL}}ctjs/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
      <script src="{{STATIC_URL}}ct/js/bootstrap.min.js" id="script-resource-3"></script>
      <script src="{{STATIC_URL}}ctjs/joinable.js" id="script-resource-4"></script>
      <script src="{{STATIC_URL}}ct/js/resizeable.js" id="script-resource-5"></script>
      <script src="{{STATIC_URL}}ct/js/neon-api.js" id="script-resource-6"></script>
      <script src="{{STATIC_URL}}ct/js/cookies.min.js" id="script-resource-7"></script>
      <script src="{{STATIC_URL}}ct/js/jquery.validate.min.js" id="script-resource-8"></script>
      <script src="{{STATIC_URL}}ct/js/neon-login.js" id="script-resource-9"></script>
      <script src="{{STATIC_URL}}ct/js/neon-custom.js" id="script-resource-10"></script>
      <script src="{{STATIC_URL}}ct/js/neon-demo.js" id="script-resource-11"></script>
      <script src="{{STATIC_URL}}ct/js/neon-skins.js" id="script-resource-12"></script>
   </body>
</html>
