{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Voice Tweet - tweet through air</title>
      <!-- Bootstrap core CSS -->
      <link href="{{STATIC_URL}}main/css/bootstrap.css" rel="stylesheet">
      <!-- Add custom CSS here -->
      <link href="{{STATIC_URL}}main/css/stylish-portfolio.css" rel="stylesheet">
      <link href="{{STATIC_URL}}main/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <style>
         .custom{
         color: white;
         }
         .fa-rocket:before {
         content: "\f123";
         }    
         .fa-magnet:before {
         content: "\f130";
         }
         .fa-shield:before {
         content: "\f0ac";
         }
         .col-md-offset-2 {
         margin-left: 25%;
         }
         .record-callout .callout{
	     background:url({{STATIC_URL}}main/img/callout1.jpg)no-repeat center center fixed;
         }
         .global-callout .callout{
	     background:url({{STATIC_URL}}main/img/globe.jpg)no-repeat center center fixed;
         }
      </style>
   </head>
   <body>
      <!-- Side Menu -->
      <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="#"><img src="{{STATIC_URL}}main/img/logo.png" alt="" /></a></li>
            <li><a href="#">-------------------</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="{% url 'vt-login' %}">Signin</a></li>
            <li><a href="#">Signup</a></li>
         </ul>
      </div>
      <!-- /Side Menu -->
      <!-- Full Page Image Header Area -->
      <div id="top" class="header">
         <div class="vert-text">
            <h1><img src="{{STATIC_URL}}main/img/logo.png" alt="" /></h1>
            <h3 class="custom" ><em>Voice Tweet</em> is like , <em>twitter</em> for your voice</h3>
            <a href="#about" class="btn btn-default btn-lg">Learn More</a>
         </div>
      </div>
      <!-- /Full Page Image Header Area -->
      <!-- Intro -->
      <div id="about" class="intro">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-md-offset-3 text-center">
                  <h2>Voice Tweet is the best way to amplify & share your voice. Create short, styled audio updates for your family, friends and followers to hear.</h2>
                  <!-- <p class="lead"> 
                     <li>Personalize your voice posts with cool free filters, effects and background music.</li>
                     <li>Follow celebrities, sports stars and popular users to listen to their real voice talk about the things they care about.</li></p> -->
               </div>
            </div>
         </div>
      </div>
      <!-- /Intro -->
      <!-- Services -->
      <div id="services" class="services">
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-md-offset-4 text-center">
                  <h2>Our Features</h2>
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-md-2 col-md-offset-2 text-center">
                  <div class="service-item">
                     <i class="service-icon fa fa-rocket"></i>
                     <h4><a href="#celebrities" >Follow celebrities and sport stars</a></h4>
                  </div>
               </div>
               <div class="col-md-2 text-center">
                  <div class="service-item">
                     <i class="service-icon fa fa-magnet"></i>
                     <h4><a href="#record">Record, share and listen to voice posts</a></h4>
                  </div>
               </div>
               <div class="col-md-2 text-center">
                  <div class="service-item">
                     <i class="service-icon fa fa-shield"></i>
                     <h4><a href="#global">Work on any phone globally</a></h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /Services -->
      <!-- Callout -->
      <div class="celeb-callout">
      	<div class="callout">
         	<div class="vert-text">
            	<h1>Celebrities</h1>
            </div>
        </div>
      </div>
      <!-- /Callout -->
      <!-- Portfolio -->
      <div id="celebrities" class="portfolio">
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-md-offset-4 text-center">
                  <h2>Follow celebrities and sports stars</h2>
                  <p>Follow celebrities and sports stars and other popular users to listen to updates in their own authentic voice. We have over 1K popular celebs from across the World, and more stars are joining us daily.</p>
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-md-offset-2 text-center">
                  <div class="portfolio-item">
                     <a href="#"><img class="img-portfolio img-responsive" src="{{STATIC_URL}}main/img/portfolio-1.jpg"></a>
                     <h4>Movie stars</h4>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                     <a href="#"><img class="img-portfolio img-responsive" src="{{STATIC_URL}}main/img/portfolio-2.jpg"></a>
                     <h4>Sport stars</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /Portfolio -->
      <!-- Call to Action -->
      <div class="call-to-action">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="#record" class="btn btn-lg btn-primary">More...</a>
               </div>
            </div>
         </div>
      </div>
      <!-- /Call to Action -->
      <!-- Callout -->
      <div class="record-callout">
      	<div class="callout">
         <div class="vert-text">
            <h1>Recordings</h1>
         </div>
        </div>
      </div>
      <!-- /Callout -->
      <!-- Portfolio -->
      <div id="record" class="portfolio">
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-md-offset-4 text-center">
                  <h2>Record, share and listen to voice posts</h2>
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-md-offset-2 text-center">
                  <div class="portfolio-item">
                     <h4>Record</h4>
                     <p>Easily record any audio with a tap and preview it instanty.</p>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                     <h4>Style</h4>
                     <p>Style your voice with cool audio effects and filters that enhance your voice.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-md-offset-2 text-center">
                  <div class="portfolio-item">
                     <h4>Share</h4>
                     <p>Easily share your post via email, Twitter, Facebook and even on your own blog.</p>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                     <h4>Discover</h4>
                     <p>Discover and listen to amazing singers, musicians and talented users from around the world.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /Portfolio -->
      <div class="global-callout">
      	<div id="global" class="callout">
         <div class="vert-text">
           <h1>Works on any phone, Globally </h1>
         </div>
        </div>
      </div>
      <!-- Call to Action -->
      <div class="call-to-action">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="#" class="btn btn-lg btn-primary">top</a>
               </div>
            </div>
         </div>
      </div>
      <!-- /Call to Action -->
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-md-offset-3 text-center">
                  <ul class="list-inline">
                     <li><i class="fa fa-facebook fa-3x"></i></li>
                     <li><i class="fa fa-twitter fa-3x"></i></li>
                     <li><i class="fa fa-dribbble fa-3x"></i></li>
                  </ul>
                  <div class="top-scroll">
                     <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                  </div>
                  <hr>
                  <p>Copyright &copy; Ultivoz Software Pvt.Ltd 2013</p>
               </div>
            </div>
         </div>
      </footer>
      <!-- /Footer -->
      <!-- JavaScript -->
      <script src="{{STATIC_URL}}main/js/jquery-1.10.2.js"></script>
      <script src="{{STATIC_URL}}main/js/bootstrap.js"></script>
      <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
      <script>
         $("#menu-close").click(function(e) {
             e.preventDefault();
             $("#sidebar-wrapper").toggleClass("active");
         });
      </script>
      <script>
         $("#menu-toggle").click(function(e) {
             e.preventDefault();
             $("#sidebar-wrapper").toggleClass("active");
         });
      </script>
      <script>
         $(function() {
           $('a[href*=#]:not([href=#])').click(function() {
             if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
               || location.hostname == this.hostname) {
         
               var target = $(this.hash);
               target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
               if (target.length) {
                 $('html,body').animate({
                   scrollTop: target.offset().top
                 }, 1000);
                 return false;
               }
             }
           });
         });
      </script>
   </body>
</html>
